@import "../../config.scss";

.cart__item {
  margin-bottom: 15px;
  border-bottom: 1px solid $color-fde4e4;

  .cart__item-info {
    img {
      width: 35px;
      height: 35px;
      object-fit: cover;
    }
    .cart__product-title {
      font-size: 0.8rem;
      font-weight: 600;
    }
    .cart__product-price {
      font-size: 0.8rem;
      span {
        font-size: 0.9rem;
        font-weight: 600;
        color: $color-df2020;
      }
    }
    .increase__decrease-btn {
      background: $color-df2020;
      padding: 2px 5px;
      border-radius: 5px;
      .increase__btn,
      .decrease__btn {
        cursor: pointer;
        transition: $transition;
      }
    }

    .delete__btn {
      font-size: 1.1rem;
      cursor: pointer;
      font-weight: 600;
    }
  }
}
