@import "../../config.scss";

.category {
  .category__item {
    background: $color-fde4e4;
    padding: 30px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: $transition;
    &:hover {
      transform: translateY(-15px);
    }
  }
}

@media (max-width:538px){
  .category{
    .category__item{
      img{
        width:3rem;
      }
      h6{
        font-size:.8rem;
      }
    }
  }
}
