@import "../config.scss";

.main-foods {
  padding: 3rem 0;
  .search__widget,
  .sorting__widget select {
    padding: 7px 15px;
    border: 1px solid $color-fde4e4;
    border-radius: 5px;
    cursor: pointer;
  }
  .search__widget input {
    border: none;
  }

  .search__widget input:focus {
    outline: none;
  }
  .paginationBttns {
    width: 80%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 0.5rem;
    list-style: none;
    margin-top: 30px;
    a {
      padding: 5px 13px;
      background: $color-212245;
      color: #fff !important;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      margin: 5px;
      transition: $transition;
      &:hover {
        background: $color-df2020;
      }
      
    }
    .next a,
    .previous  a{
      padding:0 !important;
      width:70px;
      height:40px;
      .icon{
        display:flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .main-foods {
    .search__widget {
      width: 100%;
      margin-bottom: 20px;
    }
    .search__widget input {
      width: 100%;
      font-size: 0.8rem;
    }
    .sorting__widget select {
      width: 100% !important;
      font-size: 0.8rem;
    }
  }
}
