$greenSeaweed: rgba(2, 128, 144, 1);
$blueQueen: rgba(69, 105, 144, 1);
$redFire: rgba(244, 91, 105, 1);

.main-forgot {
  width: 100%;
  min-height: 100vh;
  background-color: $redFire;
  position: relative;
  overflow: hidden;
  font-family: "Dosis", sans-serif;

  .login {
    background-color: white;
    padding: 3rem;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    box-shadow: 5px 10px 10px rgba($greenSeaweed, 0.2);
    .error,
    .message {
      text-align: center;
      margin: 10px auto 0;
      color: #ff5722;
      border: 1px dotted #f09819;
      padding: 0.3rem 0.6rem;
      width: 50%;
    }
    .sign {
      color: #573b8a;
      margin-top: 2rem;
      font-size: 1rem;
      font-weight: 700;
      position:relative;
      a {
        position:absolute;
        text-decoration: underline;
        color: black;
        left:1.2rem;
        bottom:-1rem;
        transform: translateX(0%);
        font-size: 1rem;
        color: #573b8a;
      }
    }
    .forgotPass {
      text-align: center;
      margin: 1rem 0;
      font-size: 1rem;
      font-weight: 700;
      a {
        font-size: 1rem;
        transform: translateX(-50%);
        color: #573b8a;
        text-decoration: underline;
      }
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 600px;
      height: 600px;
      border-top-left-radius: 40%;
      border-top-right-radius: 45%;
      border-bottom-left-radius: 35%;
      border-bottom-right-radius: 40%;
      z-index: -1;
    }

    &::before {
      left: 50%;
      bottom: -100%;
      background-color: rgba($blueQueen, 0.15);
    }

    &::after {
      left: 35%;
      bottom: -125%;
      background-color: rgba($greenSeaweed, 0.2);
    }
    h1 {
      text-align: center;
      color: $redFire;
    }
    > input {
      display: block;
      border-radius: 5px;
      font-size: 16px;
      background: white;
      width: 100%;
      border: 1px solid $greenSeaweed;
      padding: 10px 10px;
      margin: 2rem -10px;
      font-family: "Dosis", sans-serif;
      font-weight: 700;
    }

    > button {
      cursor: pointer;
      color: #fff;
      font-size: 16px;
      text-transform: uppercase;
      border: 0;
      padding: 10px;
      margin-top: 10px;
      margin-left: -5px;
      border-radius: 5px;
      background-color: $redFire;
      font-family: "Dosis", sans-serif;
      font-weight: 700;
      letter-spacing: 1px;
      transition: all 0.4s ease-in-out;
      &:hover {
        background-color: $greenSeaweed;
      }
    }
  }
  a {
    text-decoration: none;
    color: rgba(white, 0.6);
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 12px;
  }
}
@media (max-width:786px){
  .main-forgot{
    width:90%;
    margin:0 auto;
    .login{
      width:90%;
      button{
        width:fit-content;
        padding:.5rem 1rem;
        font-size:.8rem;
      }
    }
  }
}